.para, 
li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(214, 30, 211);
}

div .para {
    font-size: 16px;
    color:rgb(10, 10, 25);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div .ul {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div .ol {
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div .heading1 {
    font-size:28px;
    color: rgb(240, 92, 92);
}

div .heading2 {
    font-size:20px;
    color:rgb(180, 206, 10);
}

div a {
    font-size: 18px;
}